<header>
  <div class="item item1">
    <div class="row-center">
      <h1>Car4U Dashbord</h1>
    </div>
  </div>
</header>
<main>
  <div class="row-center">
    <h2>Visitors Preferences</h2>
  </div>
  <div class="row-center">
    <div class="item4">
      <app-engine-table [genderEngine]="genderEngine"> </app-engine-table>
    </div>
    <div class="item4">
      <app-seat-table [seatAge]="seatsAge"></app-seat-table>
    </div>
  </div>
  <div class="row-center-mt">
    <div class="item4">
      <app-hobbies-table
        [hobbiesVisitors]="hobbiesVisitors"
      ></app-hobbies-table>
    </div>
  </div>
</main>
<footer><p>Car4U Reflectiz Task Dani Morag</p></footer>
