<header>
  <div class="item item1">
    <div class="row-center">
      <h1>Car4U Dashbord</h1>
    </div>
  </div>
</header>
<main>
  <div class="row-center">
    <h2>Engines and most picked Gender</h2>
  </div>
  <div class="row-center">
    <div class="item4">
      <table mat-table [dataSource]="genderEngine" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="engine">
          <th mat-header-cell *matHeaderCellDef>Engine Type</th>
          <td mat-cell *matCellDef="let element">{{ element.engine }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="max">
          <th mat-header-cell *matHeaderCellDef>Top Gender</th>
          <td mat-cell *matCellDef="let element">{{ element.max }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="maxValue">
          <th mat-header-cell *matHeaderCellDef>Top Value</th>
          <td mat-cell *matCellDef="let element">{{ element.maxValue }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div class="item4">graph</div>
  </div>
</main>
<footer><p>Car4U Reflectiz Task Dani Morag</p></footer>
